body {
    padding-top: 5px;
  }

.starter-template {
    text-align: center;
  }

#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
 }

 #search {
    margin-top: 50px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 74px;
 }

 .jumbotron {
    margin-bottom: 0%;
 }
